/* Configuración global */
:root {
    --primary: #007E80;
    --darkPrimary: #004853;
    --second: #D3CE3D;
    --darkSecond: #F63700;
    --white: #FFF;
    --dark: #000;
    --mainFont: 'Lobster', cursive;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Globales */
body {
    background-color: var(--primary);
    font-size: 1.6rem;
    line-height: 1.5;
}

p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif; 
    color: var(--white);
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    border-radius: 2%;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

/* Títulos */ 
h1, h2, h3 {
    text-align: center;
    color: var(--second);
    font-family: var(--mainFont);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}

/* Header */
.header { 
    display: flex;
    justify-content: center;
}

.header__logo { 
    margin: 3rem 0;
}

/* BEM en nav */
.nav { /* Bloque */
    background-color: var(--darkPrimary);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.nav__link { /* Elemento */
    font-family: var(--mainFont);
    color: var(--white);
    font-size: 3rem;
}

.nav__link--active { /* Modificador */
    color: var(--second);
}

.nav__link:hover {
    color: var(--dark);
}

/* Footer */
.footer {
    background-color: var(--darkPrimary);
    padding: 1rem 0;
    margin-top: 2rem;
}

.footer__text {
    text-align: center;
    font-family: var(--mainFont);
    font-size: 1.5rem;
}

/* Grid */
.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    width: auto;
}

/* Mis Diseños */
.product {
    background-color: var(--darkPrimary);
    padding: 1rem;
    border-radius: 2%;
}

.product:hover {
    background-color: var(--dark);
}

.product__name {
    font-family: var(--mainFont);
    font-size: 3rem;
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
}

/* Contenedor Genérico */
.block, .hearts {    
    background-color: var(--white);
    padding: 1rem;
    gap: 1rem;  
    margin-top: 2rem;          
    border-radius: 1rem;
}

.block__title{
    grid-column: 1 / 4;
}

.block__image {
    background-color: var(--dark);
    padding: 0.5rem;
    border-radius: 2%;
    color: var(--dark);
}

.block__main-image {
    grid-column: 1 / 4;
    background-color: var(--dark);
    padding: 0.5rem;
    border-radius: 2%;
}

/* Navidad */
.nochebuena {
    background-color: var(--white);
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 1rem;
}

/* About me */ 
.aboutme {
    display: grid;
    grid-template-rows: repeat(2, auto);
}

.aboutme__image {
    grid-template-rows: 1 / 2;
    border: 1rem solid var(--darkPrimary);
}

.icon {
    text-align: center;
}

.icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.icon__title {
    margin: 0;
}

/* Responsive Web Desing */
@media (min-width: 768px) {

    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    /* Contenedores Global */
    .block {
        display: grid;
        grid-template-columns: repeat(3, 1fr);        
    }

    /* San Valentín */
    .hearts {   
        display: grid;     
        grid-template-columns: repeat(2, 2fr);
    }

    /* Navidad */
    .four-elements {
        display: grid;                
        grid-template-columns: repeat(4, 1fr);
    }

    .four-elements .block__title {
        grid-column: 1 / 5;
    }

    /* Fechas Especiales */
    .happy {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 0.5%;    
        grid-column: 1 / 4;
    }
    
    .mothers {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.5%;
        grid-column: 1 / 4;
    }
    
    .day {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.5%;
        grid-column: 1 / 4;
    }

    .ten-elements {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        gap: 0.5%;
        grid-column: 1 / 4;
    }
    
    .two-elements {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5%;
        grid-column: 1 / 4;
    }

    /* About me */
    .aboutme {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }

    .aboutme__image {
        grid-column: 2 / 3;
    }

    .icons {
        grid-template-columns: repeat(4, 1fr);
    }
}