<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Estilos -->
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../img/icono.png">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <title>Sobre mí</title>
</head>

<body>
    <header class="header"> <!-- 'header' es el bloque -->
        <a href="../Index.html">
            <img class="header__logo" src="../img/logo.png" alt="logo"> <!-- 'header__logo' es el elemento-->
        </a>
    </header>

    <nav class="nav">
        <a class="nav__link" href="../Index.html">Mis Diseños</a>
        <a class="nav__link nav__link--active" href="aboutUs.html">Sobre mí</a>
    </nav>

    <main class="container">
        <h1>¿Quién soy?</h1>
        <div class="aboutme">
            <div class="aboutme__content">
                <p>En 2018 inicié mi camino en las manualidades con diseños sencillos para Navidad y regalos de cumpleaños para amigos.</p>
                <p>Un año más tarde y gracias a la insistencia de varias personas, decidí emprender este viaje con diseños más elaborados y para diversas temáticas como San Valentín, Día de Madres, entre otros.</p>
            </div>
            <img class="aboutme__image" src="../img/03.jpg" alt="about us">
        </div>
    </main>

    <section class="container">
        <h2>¿Por qué elegir mis diseños?</h2>
        <div class="icons">
            <div class="icon">
                <img class="icon__image" src="../img/icono_1.png" alt="best price">
                <h2>Mejor precio</h2>
                <p>Precios accesibles según el presupuesto del cliente.</p>
            </div> <!-- block -->

            <div class="icon">
                <img class="icon__image" src="../img/icono_2.png" alt="for devs">
                <h2>Diseños personalizados</h2>
                <p>Tu pones las ideas y yo el ingenio y creativdad para hacerlas realidad.</p>
            </div> <!-- block -->

            <div class="icon">
                <img class="icon__image" src="../img/icono_3.png" alt="free shipping">
                <h2>Entregas rápidas</h2>
                <p>Me aseguro que tu diseño esté listo a tiempo, según la fecha acordada.</p>
            </div> <!-- block -->

            <div class="icon">
                <img class="icon__image" src="../img/icono_4.png" alt="best quality">
                <h2>Calidad Garantizada</h2>
                <p>Elaborados con materiales de calidad que garantiza su durabilidad.</p>
            </div> <!-- block -->
        </div>
    </section>
    
    <footer class="footer">
        <p class="footer__text">Front-End Store - Todos los derechos reservados 2022.</p>
    </footer>
</body>
</html>