<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Estilos -->
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../img/icono.png">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <title>Navidad</title>
</head>

<body>
    <header class="header">
        <a href="../Index.html">
            <img class="header__logo" src="../img/logo.png" alt="logo">
        </a>
    </header>

    <nav class="nav">
        <a class="nav__link nav__link--active" href="../Index.html">Mis Diseños</a>
        <a class="nav__link" href="aboutUs.html">Sobre mí</a>
    </nav>

    <main class="container">
        <h1>Navidad</h1>
        
        <div class="valentin">
            <h2 class="valentin__title">- Corona Navideña Grande -</h2>
            <img class="valentin__image" src="../img/30.jpg" alt="Imagen lateral izquierda">
            <img class="valentin__image" src="../img/31.jpg" alt="Imagen frontal">
            <img class="valentin__image" src="../img/32.jpg" alt="Imagen lateral dereccha">
        </div>            
        
        <div class="valentin four">
            <h2 class="valentin__title">- Corona Navideña Chica -</h2>
            <img class="valentin__image" src="../img/33.jpg" alt="Imagen lateral izquierda">
            <img class="valentin__image" src="../img/34.jpg" alt="Imagen frontal">
            <img class="valentin__image" src="../img/35.jpg" alt="Imagen lateral dereccha">
            <img class="valentin__image" src="../img/36.jpg" alt="Imagen lateral dereccha">
        </div>  

        <div class="valentin">
            <h2 class="valentin__title">- Adornos Navideños Chicos -</h2>
            <img class="valentin__image" src="../img/38.jpg" alt="Imagen lateral izquierda">
            <img class="valentin__image" src="../img/37.jpg" alt="Imagen frontal">
            <img class="valentin__image" src="../img/39.jpg" alt="Imagen lateral dereccha">            
        </div> 

        <div class="valentin">
            <h2 class="valentin__title">- Adornos Navideños Medianos -</h2>
            <img class="valentin__image" src="../img/40.jpg" alt="Imagen lateral izquierda">
            <img class="valentin__image" src="../img/41.jpg" alt="Imagen frontal">
            <img class="valentin__image" src="../img/42.jpg" alt="Imagen lateral dereccha">            
        </div> 

        <div class="valentin">
            <h2 class="valentin__title">- Adornos Varios -</h2>
            <img class="valentin__image" src="../img/43.jpg" alt="Imagen lateral izquierda">
            <img class="valentin__image" src="../img/44.jpg" alt="Imagen frontal">
            <img class="valentin__image" src="../img/45.jpg" alt="Imagen lateral dereccha">            
        </div> 

        <div class="nochebuena">
            <h2 class="valentin__title">Nochebuena</h2>
            <img class="valentin__image" src="../img/46.jpg" alt="Nochebuena">
        </div>

        <div class="valentin four">
            <h2 class="valentin__title">- Portarretatos Navideños -</h2>
            <img class="valentin__image" src="../img/47.jpg" alt="Imagen lateral izquierda">
            <img class="valentin__image" src="../img/48.jpg" alt="Imagen frontal">
            <img class="valentin__image" src="../img/49.jpg" alt="">
            <img class="valentin__image" src="../img/50.jpg" alt="">
        </div> 
    </main>

    <footer class="footer">
        <p class="footer__text">Manualidades Punto Creativo. 2022. Todos los derechos reservados</p>
    </footer>
</body>
</html>