<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Estilos -->
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../img/icono.png">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <title>Día de Muertos</title>
</head>

<body>
    <header class="header">
        <a href="../Index.html">
            <img class="header__logo" src="../img/logo.png" alt="logo">
        </a>
    </header>

    <nav class="nav">
        <a class="nav__link nav__link--active" href="../Index.html">Mis Diseños</a>
        <a class="nav__link" href="aboutUs.html">Sobre mí</a>
    </nav>

    <main class="container">
        <h1>Diseños Personalizados</h1>
        
        <div class="block">
            <h2 class="block__title">Calaveras Chicas</h2>
            <img class="block__main-image" src="../img/95.jpg" alt="Vista general">
            <img class="block__image" src="../img/96.jpg" alt="Imagen frontal">
            <img class="block__image" src="../img/97.jpg" alt="Imagen trasera">
            <img class="block__image" src="../img/98.jpg" alt="Imagen frontal">
        </div>            
        
        <div class="block">
            <h2 class="block__title">Calaveras Grandes</h2>
            <img class="block__main-image" src="../img/99.jpg" alt="Vista general">
            <img class="block__image" src="../img/100.jpg" alt="Imagen frontal">
            <img class="block__image" src="../img/101.jpg" alt="Imagen trasera">
            <img class="block__image" src="../img/102.jpg" alt="Imagen frontal">
        </div>
    </main>

    <footer class="footer">
        <p class="footer__text">Manualidades Punto Creativo. 2022. Todos los derechos reservados</p>
    </footer>
</body>
</html>