<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Estilos -->
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../img/icono.png">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <title>Día de Madres</title>
</head>

<body>
    <header class="header">
        <a href="../Index.html">
            <img class="header__logo" src="../img/logo.png" alt="logo">
        </a>
    </header>

    <nav class="nav">
        <a class="nav__link nav__link--active" href="../Index.html">Mis Diseños</a>
        <a class="nav__link" href="aboutUs.html">Sobre mí</a>
    </nav>

    <main class="container">
        <h1>Día de Madres</h1>
        
        <div class="block">
            <h2 class="block__title">Portarretratos</h2>
            <img class="block__main-image" src="../img/17.jpg" alt="Vista general">
            <img class="block__image" src="../img/18.jpg" alt="Imagen frontal">
            <img class="block__image" src="../img/19.jpg" alt="Imagen trasera">
            <img class="block__image" src="../img/20.jpg" alt="Imagen frontal">
            <img class="block__image" src="../img/21.jpg" alt="Imagen trasera">
            <img class="block__image" src="../img/22.jpg" alt="Imagen frontal">
            <img class="block__image" src="../img/23.jpg" alt="Imagen trasera">
        </div>            
        
        <div class="hearts">
            <h2 class="block__title">Marco Floral Chico</h2>
            <img class="block__main-image" src="../img/24.jpg" alt="Vista general">
            <img class="block__image" src="../img/25.jpg" alt="Marco floral morado">
            <img class="block__image" src="../img/26.jpg" alt="Marco floral rojo">
        </div>  

        <div class="hearts">
            <h2 class="block__title">Marco Floral Grande</h2>
            <img class="block__main-image" src="../img/27.jpg" alt="Vista general">
            <img class="block__image" src="../img/28.jpg" alt="Marco floral variado">
            <img class="block__image" src="../img/29.jpg" alt="Marco de flor de alcatraz">         
        </div> 
    </main>

    <footer class="footer">
        <p class="footer__text">Manualidades Punto Creativo. 2022. Todos los derechos reservados</p>
    </footer>
</body>
</html>