<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Estilos -->
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../img/icono.png">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <title>Producto</title>
</head>

<body>
    <header class="header">
        <a href="../Index.html">
            <img class="header__logo" src="../img/logo.png" alt="logo">
        </a>
    </header>

    <nav class="nav">
        <a class="nav__link nav__link--active" href="../Index.html">Tienda</a>
        <a class="nav__link" href="aboutUs.html">Nosotros</a>
    </nav>

    <main class="container">
        <h1>React JS</h1>
        
        <div class="shirt">
            <img class="shirt__image" src="../img/3.jpg" alt="React JS">
            <div class="shirt__content">
                <p>Vestibulum vulputate efficitur nisi, id sodales sapien convallis et. Suspendisse potenti.</p>
                
                <form class="form">
                    <select class="form__field">
                        <option disabled selected>Seleccione talla</option>
                        <option>Chica</option>
                        <option>Mediana</option>
                        <option>Grande</option>
                    </select>
                    <input class="form__field" type="number" placeholder="Cantidad" min="1">
                    <input class="form__submit" type="submit" value="Agregar al carito">
                </form>
            </div>            
        </div>
    </main>
</body>
</html>