<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Estilos -->
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../img/icono.png">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <title>San Valentín</title>
</head>

<body>
    <header class="header">
        <a href="../Index.html">
            <img class="header__logo" src="../img/logo.png" alt="logo">
        </a>
    </header>

    <nav class="nav">
        <a class="nav__link nav__link--active" href="../Index.html">Tienda</a>
        <a class="nav__link" href="aboutUs.html">Nosotros</a>
    </nav>

    <main class="container">
        <h1>San Valentín</h1>
        
        <div class="valentin">
            <h2 class="valentin__title">- Caja Sorpresa -</h2>
            <img class="valentin__image" src="../img/img_05.jpg" alt="Imagen lateral izquierda">
            <img class="valentin__image" src="../img/img_06.jpg" alt="Imagen frontal">
            <img class="valentin__image" src="../img/img_07.jpg" alt="Imagen lateral dereccha">
        </div>            
        
        <div class="valentin">
            <h2 class="valentin__title">- Caja para enamorados -</h2>
            <img class="valentin__image" src="../img/img_08.jpg" alt="Imagen lateral izquierda">
            <img class="valentin__image" src="../img/img_09.jpg" alt="Imagen frontal">
            <img class="valentin__image" src="../img/img_10.jpg" alt="Imagen lateral dereccha">
        </div>  

        <div class="valentin">
            <h2 class="valentin__title">- Portarretratos -</h2>
            <img class="valentin__image" src="../img/img_11.jpg" alt="Imagen lateral izquierda">
            <img class="valentin__image" src="../img/img_12.jpg" alt="Imagen frontal">
            <img class="valentin__image" src="../img/img_13.jpg" alt="Imagen lateral dereccha">            
        </div> 

        <div class="corazones">
            <h2 class="valentin__title">- Corazones enamorados -</h2>
            <img class="valentin__image" src="../img/img_14.jpg" alt="Imagen lateral izquierda">
            <img class="valentin__image" src="../img/img_15.jpg" alt="Imagen frontal">
        </div> 
    </main>

    <footer class="footer">
        <p class="footer__text">Manualidades Punto Creativo. 2022. Todos los derechos reservados</p>
    </footer>
</body>
</html>