<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Estilos -->
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="img/icono.png">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <title>Diseños Personalizados</title>
</head>
<body>
    <header class="header"> <!-- 'header' es el bloque -->
        <a href="../Index.html">
            <img class="header__logo" src="../img/logo.png" alt="logo"> <!-- 'header__logo' es el elemento-->
        </a>
    </header>

    <nav class="nav">
        <a class="nav__link nav__link--active" href="../Index.html">Mis Diseños</a>
        <a class="nav__link" href="view/aboutUs.html">Sobre mí</a>
    </nav>

    <main class="container">
        <h1>Fechas Especiales</h1>
        <div class="block">
            <div class="happy">
                <img class="block__image" src="../img/51.jpg" alt="Imagen lateral izquierda">
                <img class="block__image" src="../img/52.jpg" alt="Imagen frontal">
                <img class="block__image" src="../img/53.jpg" alt="Imagen lateral dereccha"> 
                <img class="block__image" src="../img/54.jpg" alt="">
                <img class="block__image" src="../img/55.jpg" alt="">
            </div>  
            <div class="mothers">
                <img class="block__image" src="../img/56.jpg" alt="">
                <img class="block__image" src="../img/57.jpg" alt="">
                <img class="block__image" src="../img/58.jpg" alt="">
            </div>
            <div class="day">
                <img class="block__image" src="../img/59.jpg" alt="">
                <img class="block__image" src="../img/60.jpg" alt="">
                <img class="block__image" src="../img/61.jpg" alt="">
                <img class="block__image" src="../img/62.jpg" alt="">
            </div>
        </div> 

        <div class="block">
            <div class="happy">
                <img class="block__image" src="../img/63.jpg" alt="Imagen lateral izquierda">
                <img class="block__image" src="../img/64.jpg" alt="Imagen frontal">
                <img class="block__image" src="../img/65.jpg" alt="Imagen lateral dereccha"> 
                <img class="block__image" src="../img/66.jpg" alt="">
                <img class="block__image" src="../img/67.jpg" alt="">
            </div>                       
            <div class="ten-elements">
                <img class="block__image" src="../img/68.jpg" alt="">
                <img class="block__image" src="../img/69.jpg" alt="">
                <img class="block__image" src="../img/70.jpg" alt="">
                <img class="block__image" src="../img/71.jpg" alt="">
                <img class="block__image" src="../img/72.jpg" alt="">
                <img class="block__image" src="../img/73.jpg" alt="">
                <img class="block__image" src="../img/74.jpg" alt="">
                <img class="block__image" src="../img/75.jpg" alt="">
                <img class="block__image" src="../img/76.jpg" alt="">
                <img class="block__image" src="../img/77.jpg" alt="">
            </div>
        </div>

        <div class="block">            
            <img class="block__image" src="../img/78.jpg" alt="">
            <img class="block__image" src="../img/79.jpg" alt="">
            <img class="block__image" src="../img/80.jpg" alt="">
        </div>

        <div class="block">
            <div class="two-elements">
                <img class="block__image " src="../img/81.jpg" alt="">
                <img class="block__image" src="../img/82.jpg" alt="">
            </div>
            <div class="mothers">
                <img class="block__image" src="../img/84.jpg" alt="">
                <img class="block__image" src="../img/83.jpg" alt="">
                <img class="block__image" src="../img/85.jpg" alt="">
            </div>            
        </div>

        <div class="block four-elements">
            <img class="block__image" src="../img/86.jpg" alt="">
            <img class="block__image" src="../img/87.jpg" alt="">
            <img class="block__image" src="../img/88.jpg" alt="">
            <img class="block__image" src="../img/89.jpg" alt="">
        </div>

        <div class="block">
            <img class="block__image block__main-image" src="../img/90.jpg" alt="">
            <div class="day">
                <img class="block__image" src="../img/91.jpg" alt="">
                <img class="block__image" src="../img/92.jpg" alt="">
                <img class="block__image" src="../img/93.jpg" alt="">
                <img class="block__image" src="../img/94.jpg" alt="">
            </div>            
        </div>
    </main>

    <footer class="footer">
        <p class="footer__text">Devs Store. 2022. Todos los derechos reservados</p>
    </footer>
</body>
</html>